:root {
  /* Colors */
  --white: #FFFFFF;
  --darkGold_Button: #FFB400;
  --black_MainText: #2B2B2B;
  --gray_SubText: #474747;
  --gray_Background: #F0F0F6;
  /* Mobile Font Sizes */
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-22: 1.375rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
  /* Font */
  --font: "Inter", sans-serif;
  /* Transition */
  --transition: 550ms ease-in-out;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body, textarea, input {
  background-color: var(--gray_Background);
  font-family: var(--font);
  color: var(--black_MainText);
}

a svg circle{
  transition: color var(--transition);
}

a:hover svg circle{
  fill: var(--darkGold_Button);
}

a.underline{
  color: var(--darkGold_Button);
}

button {
  background-color: var(--darkGold_Button); 
  border: none;
  color: var(--black_MainText);
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: .5s ease-in-out;
}

button:hover{
  background-color: var(--black_MainText);
  color: var(--darkGold_Button);
  cursor:pointer;
}

.bottomBorder{
  border-bottom: 1px solid var(--gray_Background);
}

.visuallyHidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*****************************************************
--------------------- Nav Bar -------------------------
*****************************************************/

.navBarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 70px;
  z-index: 10;
}

.navBarGridIcons{
  justify-content: space-around;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/************MEDIA QUERY**************/
@media (min-width: 600px) {
  .navBarWrapper {
    left: 0;
    width: 70px;
    height: 100%;
    margin: auto;
    justify-content: space-around;
  }
  .navBarGridIcons{
    grid-template-columns: none;
    grid-template-rows: repeat(6, 1fr);
    row-gap: calc(100%/6);
  }
}


/*****************************************************
--------------------- Hero Section ---------------------
*****************************************************/
.centralContent{
  margin: 0;
  width: 100%;
}
.centralDecor{
  margin: 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heroWrapper {
  position: relative;
  margin-top: 75px;
  margin-inline: -7px;
  padding-block: 0;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  font-family: "Inter", sans-serif;
  height: auto;
  padding: 5px;
  width: 100%;
  z-index: 0;
}

.heroDecoration {
  position: absolute;
}

.heroDecoration_Icon{
  position: absolute;
  top: 0;
  left: 0;
  /* for individual circle
  margin-left: 16px;
  margin-top: 12px; */
  z-index: -1;
}

.heroContent {
  padding: 24px 40px;
  position: relative;
  z-index: 3;
  width: 100%;
}

.heroContent h1{
  font-size: 1.375rem;
  font-size: clamp(1.375rem, 1.1607142857142856rem + 1.0714285714285714vw, 1.5625rem);
  font-weight: 700;
  max-width: 65vw;
}

.heroContent_Span {
  color: var(--darkGold_Button);
  text-shadow: 2px 2px var(--black_MainText);
}

.heroContent p{
  font-weight: 300;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.7321428571428572rem + 0.7142857142857143vw, 1rem);
  color: var(--gray_SubText);
  text-transform: capitalize;
  max-width: 55vw;
}

.heroImage {
  position: absolute;
  width: clamp(8.9375rem, 2.008928571428571rem + 34.64285714285714vw, 15rem);
  height: auto;
  bottom: 0;
  right: 2vw;
  z-index: 3;
}

.heroButton{
  padding: 0;
  margin-inline-start: 40px;
  margin-bottom: 16px;
  z-index: 10;
}

.heroButton button{
  width: 154px;
  height: 50px;
}

/************ HERO MEDIA QUERY **************/
@media (min-width: 600px){
  .centralContent{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 440px;
    width: auto;
    margin-right: 120px;
    transition: 1s ease-in-out;
  }
  
  .heroWrapper {
    height: 470px;
    margin: 0;
  }

  .heroContent {
    top: 0;
    bottom: 0;
    translate: 0% -20px;
    position: relative;
  }

  .heroContent h1{
    font-size: 3rem;
    font-size: clamp(2.5rem, 1.5rem + 2vw, 3.75rem);
    width: 60%;
  }

  .heroContent p{
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.5rem + 1vw, 1.125rem);
    max-width: 50%;
  }
  
  .heroDecoration_Icon{
    width: 50vw;
    height: auto;
  }
  
  .heroDecoration_Icon svg{
    width: 50vw;
    height: auto;
    opacity: 80%;
  }

  .heroImage {
    width: clamp(16.875rem, 11.71875rem + 13.750000000000002vw, 20.3125rem);;
    height: auto;
  }
  
  .heroButton button{
    position: absolute;
    z-index: 3;
    bottom: 0;
    margin-bottom: 20px;
  }
}

/*****************************************************
--------------------- Work History ---------------------
*****************************************************/

.workWrapper{
  width: 100%;
}

.sectionTitle{
  text-align: center;
}

.sectionDescription{
  text-align: center;
  color: var(--gray_SubText);
  line-height: 1.5rem;
  max-width: 60ch;
}

.workContent{
  background-color: var(--white);
  width: 100%;
  padding: 10px;
}
.workContent:last-of-type{
  border-radius: 0 0 20px 20px;
}

.filterBar{
  border-radius: 20px 20px 0 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray_SubText);
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.filterBar *{
  font-size: 12px;
}
.filterBar button{
  text-transform: initial;
}

.workJobHeadline{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: var(--fs-16);
}

.workJobDates{
  text-align: right;
}

.workJobDates p{
  border-radius: 5px;
  display: inline-block;
  right: 0;
  left: auto;
  padding: 5px;
  color: var(--gray_SubText);
  text-align: right;
  font-size: var(--fs-12);
}

.workJobDescription{
  color: var(--gray_SubText);
  line-height: 1.5rem;
  max-width: 55ch;
  margin: 0 auto;
}

.workJobList li{
  margin-bottom: 5px;
}

.seeMoreLess{
  display: none;
}
.seeFunction{
  text-align: right;
  font-style: italic;
  font-weight: 500;
  color: var(--black_MainText);
  padding-right: 24px;
}
.seeFunction:hover{
  cursor: pointer;
  color: var(--darkGold_Button);
}



@media(min-width: 37.5em){
  .workContent{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 35px;
    width: auto;
  }
  .filterBar{
    padding: 30px;
  }
  .filterBar *{
    font-size: 16px;
  }
  .sectionTitle{
    font-size: clamp(1.625rem, 1.4485294117647058rem + 0.8823529411764706vw, 2rem);
  }
  .sectionDescription{
    font-size: var(--fs-18);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .workJobTitle h3{
    margin: 0;
    font-size: 1.25em;
  }
  .workJobDates p{
    font-size: var(--fs-16);
  }
  .workJobHeadline{
    display: block;
    text-align: right;
    grid-column: 1 / span 2;
    padding-right: 30px;
    font-size: var(--fs-20);
  }
  .workJobDescription{
    grid-column: 3 / span 4;
    font-size: var(--fs-18);
  }
}

/*****************************************************
--------------------- Education ---------------------
*****************************************************/

.educationWrapper h3{
  color: #2B2B2B;
}

/*****************************************************
--------------------- Portfolio ----------------------
*****************************************************/

/* Need to create a portfolio bar or dropdown for mobile */
/* Will eventually be a working selector using javascript */
.portfolioBar{
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}

.portfolioProjects{
  display: grid;
  row-gap: 20px;
}

.projectItem{
  display: grid;
  justify-content: center;
  text-align: center;
  border-bottom: 3px dotted var(--black_MainText);
}

.projectImage{
  width: 77vw;
  height: auto;
}

.projectTitle{
  margin-bottom: 10px;
}

.projectSkills{
  color: var(--black_MainText);
  display: block;
  width: fit-content;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size: var(--fs-14);
}

.projectLinks{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-bottom: 15px;
}

.projectLinks a{
  background-color: var(--darkGold_Button);
  color: var(--black_MainText);
  border-radius: 5px;
  padding: 5px;
  transition: .5s ease-in-out;
}
.projectLinks a:hover{
  background-color: var(--black_MainText);
  color: var(--darkGold_Button);
  cursor:pointer;
}

@media(min-width: 37.5em){
  .portfolioProjects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .projectItem{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    padding: 20px;
    transition: .5s ease-in-out;
    transform-style: preserve-3d;
  }
  .projectItem:hover{
    border: 1px solid #FFB400;
    background-color: white;
    box-shadow:  5px 5px 5px gray;;
    transform: scale(1.05);
  }
  /* NEED TO FIX THIS OVERLAY FOR SUMMARY TO SHOW */
  .projectItemOverlay{
    display: none;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .projectItemOverlay:hover {
    opacity: 1;
  }
  .projectImage{
    width: 100%;
    height: 18vw;
    object-fit: cover;
    border-radius: 10px;
  }
  .projectLinks{
    margin-bottom: 0;
  }
  .projectLinks a{
    margin: 5px;
  }
}

/*****************************************************
--------------------- Contact Form --------------------
*****************************************************/

.contactFormWrapper{
  background-color: var(--white);
  border-radius: 20px;
  padding: 25px;
}

.contactControl{
  padding-bottom: 25px;
  margin-right: 25px;
}

.contactControl label{
  font-size: var(--fs-16);
  color: var(--gray_SubText);
}

.contactControl input, 
.contactControl textarea{
  width: 100%;
  border: none;
  font-size: var(--fs-16);
  padding: 10px;
  border-radius: 5px;
}

.contactControl textarea{
  resize: vertical;
}

.contactControl button{
  font-size: var(--fs-14);
  font-weight: 600;
}

@media(min-width: 37.5em){
  .contactFormWrapper{
    margin: auto;
    max-width: 37.5em;
  }
}

/*****************************************************
--------------------- Info Bar -------------------------
*****************************************************/

.infoBarWrapper {
  position: relative;
  background-color: var(--white);
  width: auto;
  height: auto;
  top:0;
  left: 0px;
  border-radius: 20px;
  padding: 0 20px;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr, auto;
}
.infoBarHide{
  display: none;
}
.techStack-container{
  display: none;
}
/* Info Bar Header */

.infoBarHeader{
  grid-row: 1 / 4;
  text-align: center;
  padding: 15px;
}

.infoBarProfile{
  width: 100px;
  border-radius: 100px;
}

.infoBarHeader h4{
  display: none;
}

.infoBarHeaderSocial{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items: center;
  border-bottom: none;
}

.infoBarHeaderSocialLink{
  width: fit-content;
}

.infoBarHeaderSocialImage{
  height: 24px;
  width: auto;
}

/* Info Bar General */

.infoBarGeneral{
  grid-column: 2 / 4;
}

.infoBarGeneralInfo{
  border-bottom: none;
}

.infoBarGeneralInfoTitle{
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  color: var(--black_MainText);
  font-weight: bold;
}
.infoBarGeneralInfoDesc{
  display: inline-block;
  font-size: 12px;
}

/* Info Bar Languages and Skills */
.infoBarSkillsTitle{
  font-size: 0.875rem;
  font-weight: 450;
}
.infoBarSkills-Desktop{
  display: none;
}
.infoBarSkills-Mobile{
  display: visible;
  font-size: .75rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--gray_SubText);
}

.infoBarSkills-Desktop .level{
  font-size: .75rem;
  color: var(--darkGold_Button);
}

/* Info Bar Resume Button */
.infoBarResume{
  grid-column: 2 / 4;
}
.infoBarResumeButton{
  width: 100%;
  background-color: var(--darkGold_Button);
}


/************ Info Bar Media Query **************/
@media (min-width: 600px) {
  .infoBarWrapper {
    position: fixed;
    top: 0;
    left: 60px;
    width: 240px; /*USED TO BE 200px*/
    height: 100%;
    margin-top: 0;
    padding-right: 22px;
    display: inline-grid;
    grid-template-columns: none;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    box-shadow: 5px 5px 5px #cacaca;
    transition: 1s ease-in-out;
  }
  .techStack-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .infoBarHide{
    display: block;
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 10px;
  }
  .infoBarHide:hover{
    cursor: pointer;
    text-shadow: 1px 1px var(--darkGold_Button);
  }

  .infoBarHeader{
    grid-row: 1 / 2;
  }

  .infoBarHeader h4{
    display: visible;
  }
  
  .infoBarHeaderSocial{
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0px;
  }

  .infoBarGeneral{
    grid-column: 1 / 2;
    padding: 15px;
    border-bottom: 1px solid var(--gray_Background);
  }

    /* Info Bar Languages and Skills */
  .infoBarLanguages{
    border-bottom: 1px solid var(--gray_Background);
    grid-column: 1;
    margin: 0;
    padding: 15px 20px 15px 20px;
  }
  .infoBarSkillsTitle{
    font-size: var(--fs-18);
    margin: 0;
  }
  .infoBarSkills-Desktop{
    display: inline-grid;
  }
  .infoBarSkills-Desktop p{
    font-size: var(--fs-16);
    line-height: 24px;
    color: var(--gray_SubText);
    margin-block-end: 5px;
  }
  .infoBarSkills-Desktop img{
    width: 100%;
  }
  .infoBarSkills-Mobile{
    display: none;
  }
  .infoBarSkills{
    border-bottom: 1px solid var(--gray_Background);
    grid-column: 1;
    padding: 15px 10px;
  }

  /* Info Bar Resume Button */
  .infoBarResume{ 
    grid-column: 1;
  }
  .infoBarResumeButton{
    width: 100%;
    background-color: var(--darkGold_Button);
  }
  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

}


/*****************************************************
--------------------- OTHER -------------------------
*****************************************************/
