/*------------------ Global Styles ------------------*/

:root {
    --black: #000000; /*default text color*/
    --darkBlue: #008AAA; 
    --lightBlue: #3BBADB;
    --orange: #D1884F; /*emphasis and accent color*/
    --fs-67: 4.1875rem; /*Main greeting font size*/
    --fs-32: 2rem; /*small greeting font size*/
    --fs-24: 1.5rem; /*body text font size*/
}

html {
    box-sizing: border-box; /*so that padding doesn't add width or height to the elements*/
    font-size: 100%; /*takes browser based font styles*/
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


.visuallyHidden { /*https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/*/
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
}

/*------------------ Might get rid of ------------------*/

h2 {
    color: var(--lightBlue);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: var(--fs-32);
}

h1 {
    color: var(--darkBlue);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: var(--fs-67);
}

p {
    color: var(--black);
    font-family: 'Inter', sans-serif;
    
    font-size: var(--fs-24);
}

.emphasis {
    color: var(--orange);
}

/*------------------ Header ------------------*/

.headerHome{
    font-size: 1rem;
    font-size: clamp(1rem, 1.02rem + 2.04vw, 2rem);
    color: var(--white-main-text);
    text-decoration: none;
    flex: 1 0 100%;
}


/*------------------ Main ------------------*/
