/**************************************
-------------Global Styles-------------
**************************************/

:root {
    /*Font Size Colors*/
    --black-bg: hsl(0, 0%, 8%); /*hsl is better practice to change dark/light*/
    --dark-grey-bg: hsl(0, 0%, 14%);
    --green-accent: hsl(153, 71%, 59%);
    --white-main-text: hsl(0, 0%, 100%); /*text-1*/
    --gray-text: hsl(0, 0%, 85%); /*text-2*/
    --red-invalid: hsl(7, 100%, 68%);
    /*Font Size Variables*/
    --fs-18: 1.125rem; /*font size ratios will adjust based on browser font*/ 
    --fs-88: 5.5rem; /*XL Heading*/
    --fs-72: 4.5rem; 
    --fs-40: 2.5rem; /*Mobile XL Heading*/
    --fs-48: 3rem; /*Large Heading*/
    --fs-32: 2rem; /*Mobile Large Heading*/
    --fs-24: 1.5rem;
    --container: 69.375rem; /*1110px divided by 16px auto size*/
    --transition: 250ms ease-in-out;
}

html, body {
    overflow-x: hidden;
}

html {
    box-sizing: border-box; /*so that padding doesn't add width or height to the elements*/
    font-size: 100; /*takes browser based font styles*/
}

*, *::before, *::after{
    box-sizing: inherit;
}

body, textarea, input, button {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: 0;
    background-color: var(--black-bg);
    color: var(--white-main-text);
    font-size: var(--fs-18);
    line-height: 1.56;
}

.bg-less-dark {
    background-color: var(--dark-grey-bg);
}

h1, h2, h3, p{
    margin-block-start: 0;
}

h1, h2, h3 {
    line-height: 1;
}

.headerXL {
    font-size: 2.1875rem;
    font-size: clamp(2.1875rem, -2.03125rem + 11.25vw, 5rem);
    letter-spacing: -0.0284em;
    line-height: 1.1;
}

p {
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.5rem + 1vw, 1.125rem);  
    line-height: 1.5;
    color: var(--gray-text);
}

a {
    transition: color var(--transition);
}

a:focus-visible, input:focus-visible, textarea:focus-visible {
    /* Never set outline to none since that is not accessible friendly! Instead match it to the design */
    outline: 2px dashed var(--green-accent);
    outline-offset: 2px;
}

input:invalid, textarea:invalid {
    outline-color: var(--red-invalid);
}

a.underline, button { /*class for the anchor tag*/
    display: inline-block;
    font-size: 1rem; 
    line-height: 1.625rem; /*26px*/
    letter-spacing: 0.143em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-main-text);
    text-decoration: none;
    background-image: linear-gradient(to right, var(--green-accent) 75%, var(--green-accent) 75%);
    background-position: 0 2.1em; /*10px between letters and underline*/
    background-repeat: repeat-x;
    background-size: 8px 2px;
    padding-bottom: 0.625rem;
}

a:hover {
    color: var(--green-accent);
}

img, svg {
    display: block;
}

.visuallyHidden { /*https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/*/
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
}

.wrapper {
    width: calc(100% - 2rem); /*16 px margins on either size for mobile width*/
    max-width: var(--container);
    margin-inline: auto; /*centering*/
}

@media (min-width: 37.5em) {
    /*switching from mobile size to tablet passing 600px, use ems for break points in case broswer-based font-size was changed*/
    .wrapper {
        width: calc(100% - 3.75rem);
    }
}
/************************************
-------------UTILITY-------------
************************************/
.bottom-border {
    border-bottom: 1px solid var(--white-main-text);
}

/************************************
-------------Header-------------
************************************/
.header{
    margin-block-start: 20px; /*use rem mostly for text, px is okay for smaller stuff that doesn't need to scale*/
    position: relative;
    z-index: 1;
}

.headerNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px; /*row and column gap by flex*/
}

.headerHome {
    /*https://royalfig.github.io/fluid-typography-calculator/*/
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    color: var(--white-main-text);
    text-decoration: none;
    flex: 1 0 100%;
}

.headerSocial path {
    transition: fill var(--transition);
}

.headerSocial:hover path { /*svg:hover path OR a:hover > svg > path*/
    fill: var(--green-accent);
}

@media (min-width: 37.5em) {
    .header{
        margin-block-start: 30px;
        /* margin-block-end: 90px; */
    }
    .headerNav{
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        gap: 32px;
    }

    .headerHome{
        flex: 0 1 auto;
        margin-inline-end: auto;
    }
}

@media (min-width:62.5em){
    .header{
        margin-block-start: 40px;
        margin-block-end: 127px;
    }

    .headerNav{
        padding-right: 30px;
    }
}

/************************************
-------------HERO-------------
************************************/

.heroWrapper {
    /*display: flow-root;*/
    padding-bottom: 80px;
}

.heroImage {
    position: absolute;
    top:0;
    left: 50%; /*move it 50% to left from where it was originally*/
    translate: -50%; 
    width: 12rem;
    height: auto;
}

.heroRings{
    position: absolute;
    top: 100px; /*6.25rem;*/
    right: 15%;
    z-index: -1; /*move image behind profile picture*/
    /* width: 33.125rem;
    height: auto; */
}

.heroCircle{
    top: 171px;
    margin-bottom: -129px;    
    position: relative; /*relative Got rid of horizontal scroll for some reason*/
    translate: calc(100vw - 50% - 16px);
}

.heroText {
    position: relative;
    text-align: center; 
    /* margin-block-start: 18.9375rem; use margin-block-start instead of top so that the text in the other class/divider isn't affected */
    margin-block-start: 303px;
}

.heroHeadline {
    margin-block-end: 24px;
}

.heroHeadline > br {
    display: none;
}

h1 > span { /*Underline accent!*/
    background-image: linear-gradient(to right, var(--green-accent) 75%, var(--green-accent) 75%);
    background-position: 0 1.18em;
    background-repeat: repeat-x;
    background-size: 8px 4px;
}

.heroDescription {
    margin-block-end: 24px;
}

@media (min-width: 37.5em){ /*Tablet*/
    .hero{
        margin-block-start: -75px;
        position: relative;
    }

    .heroWrapper {
        padding-bottom: 60px;
    }
    
    .heroContent{
        display: flex;
        /* overflow-x: visible; */
        align-items: flex-end;
    }

    .heroContent picture {
        order: 2;
        /* margin-right: -30px; */
    }

    .heroImage{      
        position: relative;  
        width: 42vw;
        max-width: 445px;
        /* width: clamp(20.125rem, 8.59375rem + 30.75vw, 27.8125rem); */
        /* width: 322px; */
        height: auto;
        left: auto;
        right: 20px;
        translate: 0;
    }

    .heroCircle{
        top: auto; 
        bottom: 190px;
        z-index: 1;
        right: 0;
        translate: 50%;
        position: absolute;
    }

    .heroRings{
        top: 90px;
        /* translate: -30%; */
        right: auto;
        translate: -50%;
    }

    .heroText{
        /* width: 62vw;  */
        margin-block-start: 0;
        margin-right: -30px;
        flex: 1 0 58vw;
        text-align: left;
        z-index: 1;
        /* margin-right: -72px; */
    }

    .heroHeadline {
        margin-block-end: 60px;
    }

    .heroHeadline > br {
        display: inline-block;
    }

    .heroDescription {
        margin-block-end: 34px;
        /* width: 70%;  */
    }
}

@media (min-width: 62.5em){ /*Desktop*/
    .hero {
        margin-block-start: 0px;
    }
    
    .heroWrapper{
        position: relative;
        padding-bottom: 100px;
        /*Testing Value for scrolling: padding-bottom: 260px; */
    }
    
    .heroHeadline {
        margin-block-end: 43px;
    }

    .heroContent{
        align-items: flex-start;
    }

    .heroContent picture {
        margin-left: -80px;
    }

    .heroImage {
        /* width: clamp(20.125rem, 8.59375rem + 30.75vw, 27.8125rem); */
        width: 445px;
        /* Moving image up so that it's flush against top */
        /* translate: 0 -210px; */
        margin-block-start: -210px;
        /* right: auto; */
    }

    .heroCircle{
        position: absolute;
        top: 270px;
        right: 445px;
        /* translate: 50%; */
    }

    .heroRings{
        top: 0px;
        /* translate: -110%; */
        translate: -50% -50%;
    }
    
    .heroText {
        margin-block-start: 0;
        margin-right: 0;
        flex: 1;
    }

    .heroHeadline > br {
        display: none;
    }

    .heroDescription {
        margin-block-end: 66px;
        width: 38ch; /*ch is characters wide*/
    }
}

/************************************
-------------SKILLS-------------
************************************/
.skills{
    position: relative;
}

.skillsWrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    /* instead of padding because it only sets top and bottom, ignores sides */
    padding-block: 40px;
}

.skillsItem{
    text-align: center;
}

.skillsTitle{
    font-size: 2rem;
    font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
    line-height: 1.17rem;
    margin-block-end: 15px;
}

.skillsDescription{
    margin-block-end: 0;
}

.skillsRings{
    position: absolute;
    bottom: 0;    
    left: 50%;
    translate: 0 50%;
}

@media (min-width: 37.5em) {
    .skillsWrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 52px 24px; /*row and col gap*/
        border: none;
        padding-block: 52px 0;
    }

    .skillsItem{
        text-align: left;
    }

    .skillsRings{
        translate: 40% 50%;
    }
}

@media (min-width: 62.5em) {
    .skillsWrapper{
        grid-template-columns: repeat(3, 1fr);
        padding-block-start: 72px;
        gap: 58px 30px; /*row and col gap*/
    }

    .skillsRings{
        left: 100%;
        translate: -40% 50%;
    }
}

/************************************
-------------PROJECTS-------------
************************************/
.projectsWrapper{
    padding-block: 140px;
}

.projectsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    text-align: center;
}

.projectsHeadline{
    grid-column: 1 / span 2;
    margin-block-end: 0;
}

.projectsContact {
    grid-column: 1 / span 2;
}

.projectsItem{
    grid-column: 1 / span 2;
}

.projectsPicture{
    display: block;
    margin-block-end: 20px;
}

.projectsImage {
    width: 100%;
    height: auto;
}

.projectsName{
    font-size: var(--fs-24);
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    margin-block-end: 7px;
}

.projectsTags{
    margin-block-end: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
    text-transform: uppercase;
}

.projectsLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


@media (min-width: 37.5em) {
    .projectsGrid{
        gap: 60px 24px;
        justify-items: start;
        text-align: left;
    }
    .projectsItem{
        grid-column: span 1;
    }
    .projectsHeadline, .projectsContact{
        grid-column: span 1;
    }
    .projectsContact{
        align-self: center;
        justify-self: end;
    }
    .projectsTags, .projectsLinks{
        display: block;
    }
    .projectsTags span {
        margin-inline-end: 18px;
    }
    .projectsLinks a {
        margin-inline-end: 30px;
    }
    .projectsLinks{
        display: block;
    }
}

@media (min-width: 62.5em) {
    .projectsGrid{
        gap: 70px 30px;
    }

    .projectsItem{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .projectsPicture {
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .projectsPicture::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
    
    .projectsItem:hover .projectsPicture::after{
        opacity: .5;
    }
    
    /* When tabbing through links, we want to know if we're at hidden links so... */
    .projectsItem:focus-within .projectsLinks{
        opacity: 1;
    }
    .projectsItem:focus-within .projectsPicture::after{
        opacity: 0.5;
    }

    .projectsImage{
        width: 100%;
        height: auto;
    }

    .projectsLinks{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        z-index: 1;
        opacity: 0;
        transition: opacity 400ms ease-in-out;
    }

    .projectsItem:hover .projectsLinks{
        opacity: 1;
    }


    .projectsTags{
        margin-block-end: 0;
    }
}

/************************************
-------------CONTACT-------------
************************************/

.contact{
    position: relative;
}

.contactWrapper{
    padding-block: 84px;
}

.contactHeadline {
    margin-block-end: 1.25rem;
}

.contactControl{
    position: relative;
    margin-block-end: 16px;
}

.contactControl input, .contactControl textarea{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--white-main-text);
    color: var(--white-main-text);
    font-size: 1rem;
    line-height: 1.625rem;
    padding-block: 16px;
    padding-inline: 24px;
}

.contactControl > *::placeholder{
    color: var(--white-main-text);
    opacity: 0.5;
    text-transform: uppercase;
}

.contactControl textarea{
    margin-block-end: 32px;
}

.contactControl.alignRight{
    display: flex;
    justify-content: flex-end;
}

.contactControl button{
    background-color: transparent;
    border: none;
}

.contactInvalidIcon {
    width: var(--fs-24);
    height: var(--fs-24);
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    translate: -50% -50%;
}

.contact input:focus-visible:invalid ~ .contactInvalidIcon,
.contact textarea:focus-visible:invalid ~ .contactInvalidIcon {
    display: inline-block;
}

.contact textarea:focus-visible:invalid ~ .contactInvalidIcon {
    top: 1.2rem;
    right: 1.5rem;
    translate: none;
}

.contactRings{
    position: absolute;
    left: 0;
    bottom: 120px;
    translate: -75%;
}

@media (min-width: 37.5em){
    .contactRings{
        bottom: 47px;
        translate: -80%;
    }
}

/* 999.98px so it doesn't overlap weirdly with min width, for mobile and tablet */
@media (max-width: 62.49875em) {
    .contactWrapper{
        max-width: 27.8rem;
    }
    .contactText{
        text-align: center;
    }
    .contactRings{
        translate: -50%;
    }
}

@media (min-width: 62.5em) {
    .contactWrapper{
        display: grid;
        grid-template-columns: repeat(2, 27.8rem);
        justify-content: space-between;
    }
    .contactHeadline {
        margin-block-end: 2.25rem;
    }
    .contactRings{
        bottom: 47px;
        translate: -30%;
    }
}

/************************************
-------------FOOTER-------------
************************************/
.footer{
    padding-block: 40px 60px;
}

@media (min-width: 37.5em) {
    .footer{
        padding-block: 30px 40px;
    }
}

@media (min-width: 62.5em) {
    .footer{
        padding-block: 47px 92px;
    }
}