body {
    /* text-align: center; */
    background: conic-gradient(#03A588, #FFFC00, #81D144, #03A588);
    background-attachment: scroll;
    background-size: 100% 3000px;
    /* background-color: rgba(210, 255, 142, 0.486); */
    padding: 10px;
}

h1{
    text-align: center;
}

h2{
    text-align: right;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 35px;
    margin: 10px;
    width: 100%;
    padding: 20px 0px;
    border-top: #81D144 double 8px;
}
.text {
    width: 30%;
    text-align: right;
}